@model Team3Assig.Models.Diploma

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Diploma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thesis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thesis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abstract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completeness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completeness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supervisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DiplomaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
