@model IEnumerable<Team3Assig.Models.Diploma>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.IsInRole("Operator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thesis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completeness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Thesis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abstract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completeness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supervisor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @if (User.IsInRole("Operator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.DiplomaId">Edit</a>
                        <span> | </span>
                        <a asp-action="Details" asp-route-id="@item.DiplomaId">Details</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.DiplomaId">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.DiplomaId">Details</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
