@model IEnumerable<ArticleRecord>

@{
    ViewData["Title"] = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>References</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <ul>
                    @foreach (var author in item.Authors)
                    {
                        <li>@author</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <ul>
                    @foreach (var topic in item.Topics)
                    {
                        <li>@topic</li>
                    }
                </ul>
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.DownloadUrl)">link</a>
            </td>
        </tr>
}
    </tbody>
</table>
