@model IEnumerable<Team3Assig.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.IsInRole("Operator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @if (User.IsInRole("Operator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>
                        <span> | </span>
                        <a asp-action="Details" asp-route-id="@item.StudentId">Details</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.StudentId">Details</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
