@model IEnumerable<Team3Assig.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="student_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.StudentId">
                <td data-field-id="@item.StudentId">
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td data-field-name="@item.Name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td data-field-birthdate="@item.Birthdate">
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td data-field-email="@item.EmailAddress">
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script type="text/javascript" src="~/js/signalREvents.js"></script>
}